:root{
    --myRed: #22e6b9;
    --viol: #7525b9;
}

html{
    scroll-behavior: smooth;

}

body, header, main, footer, .col-12, .col-10, .col-2, .col-8, .col-lg-4, .col-md-6, .container-fluid{
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.2rem;
}

h4{
    font-size: 1.7rem;
}

p, a, li{
    font-size: 1.2rem;
}

main{
    background: #2a2f38;
    color: #ffffff;
}

.mainBlock{
    padding: 25px 0px;
}

.myHeader{
    background: #000000;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
}

header a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.2rem;
}

.navList{
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
}

.myLinksToNav{
    display: flex;
}

.navIcon img{
    display: none;
}

header a:hover{
    text-decoration: none;
    color: #ffffff;
}

a.navLink::after{
    text-decoration: underline;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #001ea6;
    content: "";
    transition: width 0.4s ease-out;
}

a.navLink:hover::after, a.navLink:focus::after{
    width: 100%;
}

footer{
    background: #000000;
}

.imgBox{
    position: relative;
    padding: 0;
}

.myPhoto{
    width: 100%;
    border-radius: 50%;
    z-index: 3;
}

@keyframes fadeEffectCircle1 {
    0% {
        top: 4px;
        left: 15px;
    }
    25% {
        top: -1px;
        left: -1px;
    }
    50% {
        top: -4px;
        left: -15px;
    }
    75% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: 4px;
        left: 15px;
    }
}

@keyframes fadeEffectCircle2 {
    0% {
        bottom: 4px;
        right: 15px;
    }
    25% {
        bottom: 1px;
        right: 1px;
    }
    50% {
        bottom: -4px;
        right: -15px;
    }
    75% {
        bottom: 2px;
        right: 2px;
    }

    100% {
        bottom: 4px;
        right: 15px;
    }
}



.animCircle{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 50%;

}

.circle1{
    top: 4px;
    left: 15px;
    background: #003d8d;
    animation: fadeEffectCircle1 5s infinite;
}

.circle2{
    bottom: 4px;
    right: 15px;
    background: #d99cff;
    animation: fadeEffectCircle2 5s infinite;
}

.tittleCard{
    margin-bottom: 25px;
}

.infoCard{

}

.mySkillsLists{
    list-style-type: none;
}

@keyframes animIconSkills {
    0%{
        top: -2px;
    }
    25%{
        top: -6px;
    }
    50%{
        top: -10px;
    }
    75%{
        top: -6px;
    }
    100%{
        top: -2px;
    }
}

.skillsTitles{
    margin-bottom: 30px;
}

.skillsListsItem{
    position: relative;
    margin-bottom: 35px;
}

.skillsListsItem img{
    position: absolute;
    width: 35px;
    top: -8px;
    left: -45px;
    animation: animIconSkills 5s infinite;
}

.skillsBox ol li{
    margin-bottom: 25px;
}

.wrapperProject{
    position: relative;
    padding: 0;
}

.wrapperProject::before{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 26, 124, 0.6);
    content: "";
    border-radius: 10px;
}

.projectImg{
    width: 100%;
    border-radius: 10px;
}

.projectInfoWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    top: 0%;
    padding: 2rem;
    color: #ffffff;
}

.projectDescriptionBox a{
    text-decoration: none;
    color: #ffffff;
}
.visitCard{
    margin-top: 2rem;
}
.projectsSection, .visitCard, .skillsBox, .experience, .education{
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 35px;
}

.projectsSection{
    padding: 0;
}

.projectTools{
    color: #00ff43;
    font-weight: 500;
}

.projectLinks{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background: #b04dff;;
    transition-duration: 0.5s;
    display: inline-block;
    margin-bottom: 10px;
}

.projectLinks:hover{
    background: var(--viol);
}

.visitCard{
    background-image: linear-gradient(to bottom right, var(--myRed), var(--viol));
}

.skillsBox{
    background-image: linear-gradient(to bottom left, var(--viol), var(--myRed));
}

.projectLinkWrapper{
    flex-direction: column;
}

.education{
    background-image: linear-gradient(to bottom left, var(--myRed), var(--viol));
}

.experience{
    background-image: linear-gradient(to bottom right, var(--viol), var(--myRed));
}

.eduItemWrapper{
    padding-left: 30px;
    margin-bottom: 10px;
}

.eduItemWrapper::before{
    position: absolute;
    left: 0px;
    content: "";
    top: 10px;
    width: 20px;
    border-radius: 5px;
    height: 6px;
    background: #00ffd0;
}

.langItem{
    position: relative;
}

.arrow{
    position: absolute;
    left: -15px;
    font-weight: bold;
    top: -2px;
    color: #00ffd0;
}

.languagesList{
    list-style-type: none;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin-bottom: 4rem;
}

.languagesList li span{
    padding: 0;
    margin: 0;
    height: 1rem;
}

.myCode{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.func{
    color: #ff7300;
}
.funcName{
    color: #ffea00;
}
.let{
    color: #b45ea4;
}
.return{
    color: #b45ea4;
}
.while{
    color: #b45ea4;
}
.if{
    color: #b45ea4;
}

.contactsList li{
    margin-bottom: 40px;
}

.contactsList li img{
    width: 48px;
}

.contactsList li a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.contactsList li a:hover{
    color: #ffffff;
    text-decoration: none;
}

.myFooter{
    padding: 20px;
}

.myFooter ul li{
    font-size: 18px;
    color: #ffffff;
}

.myFooter ul li a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.myFooter ul li a:hover{
    text-decoration: none;
}

.footerList li{
    text-align: center;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1000px) {
    .navList{
        justify-content: end;
    }
    .navIcon img{
        display: flex;
        width: 40px;
    }
    .myLinksToNav{
        display: none;
    }
    .mobileNavList{
        position: relative;
        flex-direction: column;
    }
    .mobileNavList .myLinksToNav{
        display: flex;
    }
    .mobileNavList .navIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    .projectLinkWrapper{
        flex-direction: row;
    }
    .projectLinkWrapper a{
        margin-right: 10px;
    }
}

@media (max-width: 830px){
    .projectInfoWrapper h2{
        margin-bottom: 10px;
    }
    .projectInfoWrapper h4{
        margin-bottom: 0px;
    }
    .projectInfoWrapper p{
        font-size: 1rem;
    }
    .projectLinks{
        font-size: 16px;
        font-weight: normal;
        padding: 6px;
    }
}

@media (max-width: 700px){
    .projectInfoWrapper p{
        display: none;
    }
    .projectInfoWrapper h4{
        margin-bottom: 20px;
    }
    .codeWrapper{
        overflow-x: visible;
    }
}


